<h1 class="t-center">Przepisy</h1>

<div class="buttons">
  <button class="random" (click)="goToRandomRecipe()">Wylosuj przepis</button>
  <button class="random" (click)="getThreeRandomRecipes()">
    Wylosuj 3 przepisy
  </button>
</div>

<ul class="recipes">
  @for (recipe of recipes; track recipe.title) {
  <li>
    <app-recipe-thumbnail
      [recipe]="recipe"
      (checked)="updateChosenRecipes($event)"
    />
  </li>
  }
</ul>

@if (shoppingList.length) {
<h2 class="t-center">Lista zakupów</h2>

<div class="list-container">
  <ul class="list">
    @for (item of shoppingList; track item.name) {
    <li>{{ item | shoppingListItem }}</li>
    }
  </ul>

  <app-copy-button class="m-center" [contentToCopy]="contentToCopy" />
</div>
}
