$primary: #3484e4;

.thumbnail {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 16px -4px #3333331d;
  overflow: hidden;
  border: 3px solid transparent;
  transition: 0.3s;

  a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }

  .photo {
    height: 80px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .title {
    width: 100%;
  }

  input {
    margin-right: 20px;
  }

  &.checked {
    border-color: $primary;
    background-color: mix(white, $primary, 90%);
  }
}
