.thumbnail {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 16px -4px #3333331d;
  overflow: hidden;

  a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }

  .photo {
    height: 80px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .title {
    width: 100%;
  }

  input {
    margin-right: 20px;
  }
}
