.header {
  gap: 10px;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 20px;

  .stars {
    color: gold;
    font-size: 1.6rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 5px;
  margin-top: 10px;

  .ingredients {
    border-right: 1px solid #333;
    padding-right: 10px;
  }

  ul,
  ol {
    margin: 0;
  }

  ol li {
    padding: 5px 0;
  }

  ul li {
    padding: 2px 0;
  }

  .copy {
    margin-top: 15px;
  }
}

::ng-deep body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    padding: 5px 0;
    gap: 0;
    align-items: flex-start;

    .title {
      margin: 0;
      margin-bottom: -15px;
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .ingredients {
      border-right: none;
      border-bottom: 1px solid #333;

      padding-right: 0;
      padding-bottom: 20px;
    }
  }
}
