<a routerLink="/">&#8249; wróć do przepisów</a>

<div class="recipe">
  <div class="header">
    <div class="main f-center">
      <h2 class="title">
        @if (recipe?.link) {
        <a target="_blank" [href]="recipe?.link">{{ recipe?.title }}</a>
        } @else {
        {{ recipe?.title }}
        } @if (recipe?.vegetarian) {
        <img src="assets/svg/leaf.svg" alt="leaf" />
        }
      </h2>
      <div class="stars">{{ stars }}</div>
    </div>
    <p class="prep-time f-center">
      <img src="assets/svg/clock.svg" alt="clock" />
      {{ recipe?.prepTime }}m
    </p>
  </div>
  <div class="content">
    <div class="ingredients">
      <ul>
        @for (ingredient of recipe?.ingredients; track ingredient) {
        <li>
          {{ ingredient | ingredient }}
        </li>
        }
      </ul>
      <app-copy-button class="copy m-center" [contentToCopy]="contentToCopy" />
    </div>
    <div class="steps">
      <ol>
        @for (step of recipe?.steps; track step) {
        <li>{{ step }}</li>
        }
      </ol>
    </div>
  </div>
</div>
