@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.t-center {
    text-align: center;
}

.f-center {
    display: flex;
    align-items: center;
}